{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

      <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">
                {# read and display all flash messages #}
                {% for label, messages in app.flashes %}
                    {% for message in messages %}

                        <div class="alert alert-dismissible alert-{{ label }}">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
                <div class="card border-0 shadow" style="margin-top:15%;">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 p-5 text-center">

                                <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
								src="{{asset('build/images/LOGIN.svg')}}" alt="">
                                
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <img src="{{asset('build/images/logos/pyman341f97.png')}}" width="150" height="auto" class="d-inline-block align-top" alt="">
                                        <h1 class="h4 text-gray-900 mb-4">{{app_version}} | {{app_date}}</h1>
                                    </div>
                                  
                                        <div class="form-group">
                                            <label for="inputEmail">Email</label>
                                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" aria-describedby="emailHelp" placeholder=" Adresse mail..." required autofocus>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPassword">Mot de passe</label>
                                            <input type="password" name="password" id="inputPassword" class="form-control" required>
                                        </div>
                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                        
                                        <button class="btn btn-lg btn-primary" type="submit">Se connecter</button>    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
</form>
{% endblock %}
