{% extends "back/base_back.html.twig" %}

{% block title %}
	Mon compte
{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item">
        <a href="">{{user.email}}</a>
	</li>
	
{% endblock %}


{% block back_main_content %}
<div class="grey-bg container-fluid">

    <div class="row mb-5">
      <div class="col-12 mt-3 mb-1">
        <h4 class="text-uppercase">Bonjour {{user.firstname}}</h4>
        <h5 class="amour">
        Vous êtes
            {% for role in user.roles %}

              {% if role == "ROLE_USER" %}
                Utilisateur
              {% elseif role == "ROLE_VIEWER" %}
                Observateur 
              {% elseif role == "ROLE_OWNER" %}
                Propriétaire de tâches 
              {% elseif role == "ROLE_EDITOR" %}
                Editeur 
              {% else %}
                Administrateur
                
              {% endif %}
            
            {% endfor %}
            de {{app_name}}
		    </h5>
      </div>     
    </div>
    
    {% for role in user.roles %}

        {% if role == "ROLE_ADMIN" %}
          <div class="row bg-bluebell mt-2 pb-5">
            <div class="col-md-6">
              <div class="p-5 rounded-3 text-white">
                <h3>Ajouter des propriétaires de tâches</h3>
                <p>Vous pouvez ici ajouter des propriétaires de tâches. Ils/elles apparaîtront dans la liste lors de la création d'une tâche parmis la liste suivante :
              </div>
            
            </div>
            
            <div class="col-md-6">
              <div class="p-5 rounded-3 text-white">
                <h3>Envoyer le lien de création de compte</h3>
                <p>Pour inviter une nouvelle personne à utiliser {{app_name}}. <em><a href="{{path('user_register')}}" target="_blank">Clic droit / copier le lien </a></em></p>
              </div>
            </div>
          </div>  
        {% endif %}
            
    {% endfor %}

    

   
    <div class="row bg-casandora_yellow mt-2 pb-5">
      <div class="col-12 mt-5">
        <h3>Modifier mes informations</h3>
        {% include "security/_user_edit_form.html.twig" %}
          
      </div>
    </div>
    <div class="row bg-fuel_town mt-4 pb-4">
      <div class="col-12 mt-4">
        <span><a href="{{path('app_forgot_password_request')}}" class="text-white"><i class="fa-solid fa-arrow-rotate-left"></i> Modifier mon mot de passe</a></span>
      </div>
      <div class="col-12 mt-4">
        <form method="post" action="{{ path('user_delete', {'id': user.id}) }}" onsubmit="return confirm('Supprimer votre profil ? vous ne pourrez plus revenir en arrière.');">
          <input type="hidden" name="_method" value="DELETE">
          <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
          <button class="btn-custom-xl bg-amour text-white"><i class="fa-solid fa-trash"></i> Supprimer mon compte</button>
        </form>
      </div>
    </div>
    
	
</div>
  

{% endblock %}
