{% extends "back/base_back.html.twig" %}

{% block title %}
	profil de {{user.firstname}}
{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href=" {{path('users_list') }}">liste des membres / </a>
        <a href="">{{user.email}}</a>
	</li>
	
{% endblock %}


{% block back_main_content %}
<div class="grey-bg container-fluid">

    <div class="row mb-5">
      <div class="col-12 mt-3 mb-1">
        <h4 class="text-uppercase">{{user.firstname}} {{user.lastname}}</h4>
        <h5 class="amour">
            {% for role in user.roles %}
              {% if role == "ROLE_NOTALLOW" %}
                  - Profil non autorisé
              {% elseif role == "ROLE_USER" %}
                  - Utilisateur
              {% elseif role == "ROLE_VIEWER" %}
                  - Observateur 
              {% elseif role == "ROLE_OWNER" %}
                  - Propriétaire de tâches 
              {% elseif role == "ROLE_EDITOR" %}
                  - Editeur 
              {% else %}
                  - Administrateur 
              {% endif %}
            {% endfor %}
		    </h5>
      </div>
      <div class="col-12">
        <form method="post" action="{{ path('user_delete', {'id': user.id}) }}" onsubmit="return confirm('Valider la suppression de ce profil ?');">
          <input type="hidden" name="_method" value="DELETE">
          <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
          <button class="btn-custom-lg bg-amour text-white"><i class="far fa-trash-alt"></i></button>
        </form>
      </div>
      
    </div>

    {# <div class="row">

      <div class="col-xl-3 col-sm-6 col-12"> 
        <div class="text-white bg-wildcaribbeangreen wrap">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="icon-pencil font-large-2 float-left"></i>
                </div>
                <div class="media-body text-right">
                  <h3>{{user.subscribedTasks | length}}</h3>
                  <span>Tâches</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6 col-12">
        <div class="bg-bluebell text-white wrap">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="icon-speech warning font-large-2 float-left"></i>
                </div>
                <div class="media-body text-right">
                  <h3> {{user.projects | length}} </h3>
                  <span>Projets créé(s)</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6 col-12">
        <div class="text-white bg-casandora_yellow wrap">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="icon-graph success font-large-2 float-left"></i>
                </div>
                <div class="media-body text-right">
                  <h3>Compte créé le</h3>
                  <span>{% for ca in createdAc %}{{ ca.log | date("d/m/Y")}} {% endfor %}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6 col-12">
        <div class="text-white bg-aqua_velvet wrap">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="icon-pointer danger font-large-2 float-left"></i>
                </div>
                <div class="media-body text-right">
                  <h3>{{user.logs | length }}</h3>
                  <span>Connexions</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div> #}
    <div class="row">
      <div class="col-6 mt-5">

		    {{ form_start(form) }}

		    {{ form_errors(form) }}

        {{ form_widget(form, { 'attr': {'class': 'foo '} }) }}
        <button type="submit" class="btn btn-primary btn-lg btn-block">
          <i class="fas fa-{{ico}}"></i>
          {{ btnText }}
        </button>

		    {{ form_end(form) }}
	    </div>
      
    </div>
	
</div>
  

{% endblock %}
