{% extends "back/base_back.html.twig" %}
{% block title %}
	Matériel
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href=" {{ path('equipments_list') }} ">Materiel</a></li>
{% endblock %}



{% block back_main_content %}
		<div class="row">
			
		
			{% if emptyList %}
			<div class="col-lg-12 col-md-12 mb-12">
			<!-- Jumbotron -->
				<div class="card card-image">
					<div class="text-white text-center rgba-stylish-strong py-5 px-4">
						<div class="py-5">

							<!-- Content -->
							<h3 class="text-warning imperial_primer"><i class="far fa-folder-open"></i> Section vide</h3>

						</div>
					</div>
				</div>
			</div>
			<!-- Jumbotron -->
			{% else %}
			<div class="col-lg-12 col-md-12 mb-4">
				<div class="mb-2">
				{% if missing == true %}
					<h3 class="amour">Liste du matériel manquant</h3>
				{% elseif rented == true %}
					<h3 class="amour">Liste du matériel en prêt</h3>
				{% else %}
					<h3 class="amour">Liste du matériel</h3>
					<button class="btn-custom-lg bg-red_flag text-white" onclick=" location.href='{{path('missing_equipments_list')}}'">Matériel manquant</button>
					<button class="btn-custom-lg bg-pastel_chart_0 text-white" onclick=" location.href='{{path('rented_equipments_list')}}'">Matériel en prêt</button>

				{% endif %}
					<p class="m-4"><a href="{{ path('equipments_list_2') }}" >Afficher par type</a></p>
				</div>


			</div>
			<div class="card col-9">
				<div class="table-responsive">
					<table class="table table-bordered " id="dataTableFull" width="100%" cellspacing="0">
						<thead class="bg-bord_chart_0 text-white">
							<tr class="default-color">

								<th>Nom</th>
								<th>Type</th>
								<th>Catégorie(s)</th>
								<th>Code MENESRI</th>
								{% if rented == true %}
								<th>Numéro de prêt</th>
								{% else %}
								<th>Lieu</th>
								<th>Action</th>
								{% endif %}


							</tr>
						</thead>
						<tbody>

							{% for  equipment in equipmentList %}
							<tr>
								<td><a href="{{path('equipment_show', {type_slug:equipment.equipmentType.slug, slug: equipment.slug, id:equipment.id} )}}">{{equipment.name}}</a></td>
								<td><a href=" {{path('equipment_type', {slug: equipment.equipmentType.slug})}} " class="card-link">{{equipment.equipmentType.name}}</a></td>
								<td>
									{% for category in equipment.equipmentCategories %}
										<a href="{{ path('equipment_category', {slug: category.slug}) }}" class="card-link">{{category.name}}</a>
									{% endfor %}
								</td>
								<td>{{equipment.identificationCode}}</td>
								{% if rented == true %}
									<td><a href=" {{ path('equipment_rent',{id:equipment.rent.id})}} ">{{equipment.rent.id}}</a></td>
								{% else %}
								<td>{{equipment.location.name}}</td>

								<td class="text-center">

									 <button class="btn-custom-lg bg-green_chart_0 text-white" onclick=" location.href='{{path('equipment_show', {type_slug:equipment.equipmentType.slug, slug: equipment.slug, id:equipment.id} )}}'"> <i class="fas fa-eye"></i></button>
									 {% if is_granted('ROLE_EDITOR') %}
									<button class="btn-custom-lg bg-yellow_chart_0" onclick=" location.href='{{ path('equipment_edit', {id:equipment.id})}} '"> <i class="fas fa-edit"></i></button>
									{% endif %}
									
								</td>
								{% endif %}
							</tr>
							{% endfor %}
							
						
						</tbody>
					</table>
				</div>
			</div>
			 <div class="col-3">
				<div class="mb-4 card">
					
						<h6 class="m-0 p-3 font-weight-bold bg-blue_flag_comp-2 text-white">Matériel audiovisuel et informatique</h6>
				
					<div class="card-body">
						<div class="text-center">
							<img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
								src="{{asset('build/images/SEARCH.svg')}}" alt="">
						</div>
					</div>
					<div class="card-body">
						<p> {{cat}} </p>
					</div>
				</div>
			</div>
			{% endif %}	
		</div>
{% endblock %}
