{% extends "back/base_back.html.twig" %}

{% block title %}
	Statistiques
{% endblock %}
{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="">statistiques</a>
	</li>
{% endblock %}
{% block back_main_content %}
<div class="row">
	<div class="col-12 mb-3">
		<h2 class="mb-5">Statistiques sur la période du {{ startDate | date('d-m-Y') }} au {{ endDate | date('d-m-Y') }}</h2>
		{% if year == 2021 %}
			<h5 class="amour">A noter que pour 2021 les données sont comptabilisées à partir de septembre, soit le lancement de l'application</h5>
		{% endif %}
	</div>
		<div class="card col-4 mb-4">
			<h6 class="m-0 p-3 font-weight-bold bg-bluebell text-white">Statistiques</h6>
			<div class="card-body">
				<div class="text-center">
					<img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
						src="{{asset('build/images/CHART01.svg')}}" alt="">
				</div>

			</div>
		</div>
		<div class="col-md-8 mb-4">
			<h4>Choisir une période</h4>
			{{ form_start(form, { 'attr': {'class': '_form'}}) }}

			{{ form_errors(form) }}

			{{ form_widget(form, { 'attr': {'class': 'foo ' } }) }}

			<button type="submit" class="btn-custom-lg {{btnLabel}} text-white ">
				<i class="fas fa-{{ico}}"></i>
				{{ btnText }}
				{{ form_end(form) }}
			</button>
		</div>
	<h3 class="col-12 mb-3">Projets cloturés</h3>
	<div class="col-8">
		


		<p> Vue d'ensemble des <strong> {{ projectsCount }} projets et {{ tasksCount }} tâches terminées </strong>.</p>
		 <div class="table-responsive">
                        <table class="table table-bordered" id="dataTableFull" width="100%" cellspacing="0">
                            <thead class="bg-nasu_purple text-white">
                                <tr class="default-color">
                                    <th>Projet</th>
                                    <th>
                                
                                        {{ knp_pagination_sortable(projects, 'Catégorie', 'category.name') }}
                                        
                                    </th>

                                    <th>
                                    

                                        {{ knp_pagination_sortable(projects, 'Direction / service','requestBy') }}

                                    </th>
                                    
                                </tr>
                                
                            </thead>
                            <tbody>
                                
                                {% for  project in projects %}

                                   
                                <tr>
                                    <td><a href="{{path('project_show', {slug:project.slug,id:project.id} )}}">{{project.name }}</a></td>
                                    <td>
                                        {{project.category.name}}
                                    </td>
                                    <td class="{% if project.deliveryDate <= date()%} amour {% endif %}">
                                       {{ project.requestBy.department }}
                                    </td>
                                    
                                    
                                </tr>
                                {% endfor %}
                                
                            
                            </tbody>
                        </table>
                    </div>
                    <div class="navigation">
                        {{ knp_pagination_render(projects,'_pagination.html.twig') }}
                    </div>
	</div>
	<div class="card col-4 mb-4">
		<h6 class="m-0 p-3 font-weight-bold bg-bluebell text-white">Projets </h6>
		<div class="card-body">
			<div class="text-center">
				<img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
					 src="{{asset('build/images/CHART02.svg')}}" alt="">
			</div>

		</div>
	</div>
</div>

<div class="row mt-5">

	
	<div class="col-2 text-right">
		<h5>Nombre de projets (par direction)</h5>
	</div>
	<div class="col-4">
		<canvas id="myChart2" width="auto" height="auto"></canvas>
	</div>
	<div class="col-6 table-responsive">
		<table class="table  table-hover">
			<thead>
				<tr>
				
				<th scope="col">Direction</th>
				<th scope="col">Nombre de projets</th>
				
				</tr>
			</thead>
			<tbody>
			 	{% for dir, val in prjByDirArray %}
					 <tr>
					
						<td>{{dir}}</td>
						<td>{{val}}</td>
						
					</tr>
					<tr>
				 {% endfor %}
				
				
			</tbody>
		</table>
	</div>

</div>

<div class="row mt-5">

	<h3 class="col-12 mb-3">Tâches terminées (indépendamment des projets)</h3>
	<div class="col-8 mb-5">
		<canvas id="myChart" width="20" height=""></canvas>
	</div>
	<div class="col-4 mt-4 mb-5">
		<strong> Nombre de tâches réalisées par mois </strong> toutes catégories confondues. <br>
		<ul>
			 {% for val in taskCat %}
				 <li>{{ val }}</li>
			{% endfor %}
		</ul>
	</div>

	<div class="col-4 mt-5">
		<strong> Nombre de tâches par catégories </strong><br>
	</div>



	<div class="col-4 mt-5">
		<canvas id="myChart3" width="20" height=""></canvas>
	</div>

</div>
<div class="row mt-5">
	<h3 class="col-12 mb-3">Toute l'activité sur la période</h3>

	<div class="card col-12">
		<div class="table-responsive">
			<table class="table table-bordered" id="dataTableFull2" width="100%" cellspacing="0">
				<thead class="bg-aqua_velvet">
				<tr class="default-color">
					<th>Projet</th>
					<th>Type de tâche</th>
					<th>Streaming</th>
					<th>Date de début</th>
					<th>Heure de début</th>
					<th>Date de fin</th>
					<th>Heure de fin</th>
					<th>Direction</th>
				</tr>
				</thead>
				<tbody>
				{% for task, val in allEndedTasks %}
					<tr>
						<td>{{ val.name }}</td>
						<td>{{ val.taskCat }}</td>
						<td>{{ val.stream }}</td>
						<td>{{ val.startDate|date("d/m/Y") }}</td>
						<td>{{ val.startHour|date("G:i") }}</td>
						<td>{{ val.endDate|date("d/m/Y") }}</td>
						<td>{{ val.endHour|date("G:i") }}</td>
						<td>{{ val.department }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="row mt-5">

	<div class="col-12 mb-2">
		<h3>Lieux de prestations</h3>
	</div>
	
	<div class="card col-12">
		<div class="table-responsive">
			<table class="table table-bordered" id="dataTableEquipment" width="100%" cellspacing="0">
				<thead class="bg-pastel_red">
					<tr class="default-color">
						<th>Lieu</th>

						<th>Nombre de prestations</th>
					</tr>
				</thead>
				<tbody>
					{% for location, val in locations %}
						<tr>
							<td>{{location}}</td>

							<td>{{val}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>


 

	





{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('chart') }}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.2/chart.min.js" integrity="sha512-tMabqarPtykgDtdtSqCL3uLVM0gS1ZkUAVhRFu1vSEFgvB73niFQWJuvviDyBGBH22Lcau4rHB5p2K2T0Xvr6Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script>
		// graph --> Nombre de tâches totales par mois + graph ChartController
		const ctx = document.getElementById('myChart');

		const myChart = new Chart(ctx, {
			type: 'bar',
			data:{
				labels: ['janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
				datasets: [{
					label:  "Du {{ startDate | date('d-m-Y') }} au {{ endDate | date('d-m-Y') }}",
					data: {{ data|raw }},
					backgroundColor: [
						'rgba(255, 227, 227, 0.2)',
						'rgba(0, 232, 252, 0.2)',
						'rgba(170, 255, 229, 0.2)',
						'rgba(157, 117, 203, 0.2)',
						'rgba(255, 99, 132, 0.2)',
						'rgba(54, 162, 235, 0.2)',
						'rgba(255, 206, 86, 0.2)',
						'rgba(75, 192, 192, 0.2)',
						'rgba(153, 102, 255, 0.2)',
						'rgba(255, 159, 64, 0.2)',
						'rgba(249, 110, 70, 0.2)',
						'rgba(249, 200, 70, 0.2)',
					],
					borderColor: [
						'rgba(255, 227, 227)',
						'rgba(0, 232, 252)',
						'rgba(170, 255, 229)',
						'rgba(157, 117, 203)',
						'rgba(255, 99, 132)',
						'rgba(54, 162, 235)',
						'rgba(255, 206, 86)',
						'rgba(75, 192, 192)',
						'rgba(153, 102, 255)',
						'rgba(255, 159, 64)',
						'rgba(249, 110, 70)',
						'rgba(249, 200, 70)',
					],
					borderWidth: 1
				}]
			},
			options: {
				scales: {
					y: {
						suggestedMin: 0,
						suggestedMax: 50
					}
				}
			}
		});
		// graph --> Nombre de projets par direction ChartController
	    const ctx2 = document.getElementById('myChart2');
		const data2 = {

			labels: {{ label_2|raw }},
			datasets: [{
				label: '',
				data: {{ data_2|raw }},
				backgroundColor: [
					'rgba(255, 99, 132)',
					'rgba(54, 162, 235)',
					'rgba(255, 206, 86)',
					'rgba(75, 192, 192)',
					'rgba(153, 102, 255)',
					'rgba(255, 159, 64)',
					'rgba(125, 78, 91)',
					'rgba(255, 111, 76)',
					'rgba(0, 172, 140)',
					'rgba(72, 77, 122)',
					'rgba(253, 207, 65)',
					'rgba(162, 104, 89)',
					'rgba(70, 105, 100)',
					'rgba(87, 102, 190)',
					'rgba(149, 139, 98)',
					'rgba(255, 141, 126)',
					'rgba(208, 138, 119)',
					'rgba(162, 104, 89)',
					'rgba(255, 139, 99)',
					'rgba(145, 174, 79)',




				],
				hoverOffset: 4
			}]
		};
		const myChart2 = new Chart(ctx2, {
			type: 'pie',
			data: data2,
		})

		// graph --> Nombre de tâches par catégories ChartController
		const ctx3 = document.getElementById('myChart3');
		const data3 = {

			labels: {{ label_3|raw }},
			datasets: [{
				label: '',
				data: {{ data_3|raw }},
				backgroundColor: [
					'rgba(255, 99, 132)',
					'rgba(54, 162, 235)',
					'rgba(255, 206, 86)',
					'rgba(75, 192, 192)',
					'rgba(153, 102, 255)',
					'rgba(255, 159, 64)',
					'rgba(125, 78, 91)',
					'rgba(255, 111, 76)',
					'rgba(0, 172, 140)',
					'rgba(72, 77, 122)',
					'rgba(253, 207, 65)',
					'rgba(162, 104, 89)',
					'rgba(70, 105, 100)',
					'rgba(87, 102, 190)',
					'rgba(149, 139, 98)',
					'rgba(255, 141, 126)',
					'rgba(208, 138, 119)',
					'rgba(162, 104, 89)',
					'rgba(255, 139, 99)',
					'rgba(145, 174, 79)',




				],
				hoverOffset: 4
			}]
		};
		const myChart3 = new Chart(ctx3, {
			type: 'doughnut',
			data: data3,
		})


		

	</script>
{% endblock %}