{% extends "back/base_back.html.twig" %}

{% block title %}
	{{location.name}}
{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item "> <a href="{{path('locations_list')}}">lieux de tournages et d'interventions</a></li>
    <li class="breadcrumb-item "> <a href="">{{location.name | lower}}</a> </li>
{% endblock %}
{% block back_main_content %}

<!-- Content Row -->
    <div class="row">
        <div class="col-xl-12 font-weight-light text-center amour">
            <h2>{{location.name | upper}}</h2>
            <h6> Ajouté le {{location.createdAt|date("d/m/Y")}} </h6>
            <h6>Mis à jour le {{location.updatedAt|date("d/m/Y")}}</h6>
        </div>
        <div class="col-xl-12 font-weight-light mb-3">
             {% if is_granted('ROLE_EDITOR') %}
             <button class="btn-custom-lg bg-darkmontainmeadow text-white" onclick=" location.href=' {{path('location_edit', {id:location.id})}}' "> Modifier</button>
             
             {% endif %}
        </div>
       
    </div>
    <!-- Content Row -->
    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="h-100 bg-bluebell text-white wrap">
                <div class="card-body ">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-uppercase mb-1">
                               {{location.ministry}}</div>
                               
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{location.located}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-thumbtack fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="h-100 text-white bg-wildcaribbeangreen wrap">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-uppercase mb-1">
                                Type de lieu</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{location.type}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-igloo fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="h-100 text-white bg-casandora_yellow wrap">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-uppercase mb-1">
                               Matériel(s) dans cet espace</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"> {{location.equipment | length}} </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-camera fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="h-100 text-white bg-aqua_velvet wrap">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-uppercase mb-1">Tâches totales
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{location.tasks | length}}</div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>

    <div class="row">
        <div class="col-5">

            <div class="card">
                <h5 class="m-0 font-weight-bold bg-casandora_yellow text-white p-3">Matériel</h5>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTableEquipment" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>n° d'identification</th>
                                    <th>Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for equipment in location.equipment %}
                                <tr>
                                    <td><a href="{{path('equipment_show', {type_slug:equipment.equipmentType.slug, slug: equipment.slug, id:equipment.id} )}}" target="_blank">{{equipment.name}}</a></td>
                                    <td>{{equipment.identificationCode}}</td>
                                    <td>{{equipment.equipmentType.slug}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-5">
            <div class="card">
                <h5 class="m-0 font-weight-bold bg-aqua_velvet text-white p-3">Tâche(s) actuelle(s)</h5>
                <div class="card-body">
                    <table class="table" id="dataTableTask">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">tâche</th>
                                <th scope="col">projet</th>
                                <th scope="col">statut</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                                {% for task in location.tasks %}
                                    {% if task.status == 'A faire' or task.status == 'En cours' %}
                                <tr>
                                    <td><a href="{{path('task_show', {id:task.id} )}}" target="_blank">{{task.id}}</a></td>
                                    <td>{{task.name}}</td>
                                    <td> <a href="{{path('project_show', {slug:task.project.slug,id:task.project.id} )}}">{{task.project.name}}</a></td>
                                    <td>{{task.status}}</td>
                                </tr>
                                    {% endif %}
                                {% endfor %}
                            
                        </tbody>
                    </table> 
                </div>
            </div>
        </div>

        <div class="col-2"> 

            <div class="card"> 
                <h6 class="m-0 p-3 font-weight-bold bg-bluebell text-white">Informations</h6>
                <div class="card-body">
                    <div class="text-center">
                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style=""
                            src="{{asset('build/images/PRESENTATION.svg')}}" alt="">
                    </div>
                    <p> {{location.information |raw}} </p>
                </div>
            </div>

            <div class="card mt-3"> 
                <h6 class="m-0 font-weight-bold bg-wildcaribbeangreen text-white p-3">Localisation</h6>
                <div class="card-body">
                    <div class="text-center">
                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                            src="{{asset('build/images/MAP.svg')}}" alt="">
                    </div>
                    <a href="https://www.google.fr/maps/place/{{location.number}}+{{location.street}}+{{location.city}}" target="_blank">{{location.number}} {{location.street}} {{location.city}}</a>
                </div>
            </div>
        </div>
        <div class="col-12 mt-3">

            <h3>Toute l'activité passée de ce lieu</h3>

            <table class="table" id="dataTableFull">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">tâche</th>
                    <th scope="col">projet</th>
                    <th scope="col">date de fin</th>
                </tr>
                </thead>
                <tbody>
                {% for task in location.tasks %}

                    {% if task.status == 'Faite' %}
                        <tr class="table-success">
                            <th scope="row">{{task.id}}</th>
                            <td><a href="{{path('task_show', {id:task.id} )}}" target="_blank">{{task.name}}</a></td>
                            <td>{{ task.project.name }}</td>
                            <td>{{ task.endDate | date('d/m/Y') }}</td>
                        </tr>
                    {% endif %}
                    {% if task.status == 'Annulée' %}
                        <tr class="table-danger">
                            <th scope="row">{{task.id}}</th>
                            <td><a href="{{path('task_show', {id:task.id} )}}" target="_blank">{{task.name}}</a></td>
                            <td>{{ task.project.name }}</td>
                            <td>Annulée</td>
                        </tr>
                    {% endif %}

                {% endfor %}
                </tbody>
            </table>

        </div>

    </div>

{% endblock %}