

{{ form_start(form, { 'attr': {'class': '_form'}}) }}

{{ form_errors(form) }}

{{ form_widget(form, { 'attr': {'class': 'foo ' } }) }}  

<button type="submit" class="btn-custom-lg {{btnLabel}} text-white submitButton">
    <i class="fas fa-{{ico}}"></i>
    {{ btnText }}
    
</button>

{{ form_end(form) }}




