{% extends "back/base_back.html.twig" %}

{% block stylesheets %}

    {{ parent() }}
    {{ encore_entry_link_tags('back') }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.css" integrity="sha256-u40zn9KeZYpMjgYaxWJccb4HnP0i8XI17xkXrEklevE=" crossorigin="anonymous">

{% endblock %}

{% block title %}
	Calendrier
{% endblock %}
{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="">Calendrier</a>
	</li>
{% endblock %}


{% block back_main_content %}
    <div class="row">
            <div class="col-12 mb-2">
                    <form action=" {{path('calendar')}}" method="get">
                        {% for category in categories %}
                            <div class="form-check form-check-inline">
                                <input 
                                    class="form-check-input" 
                                    type="checkbox" 
                                    id="{{category.id}}" 
                                    name="categories[]" 
                                    value="{{category.id}}"
                                    {% for val in checked %}
                                        {% if val == category.id %}
                                            checked
                                        {% endif %}
                                    {% endfor %}
                                >
                                <label class="form-check-label" for="{{category.id}}" style="color: {{category.color}}; font-weight:bold;">{{category.name}}</label>
                            </div>
                        {% endfor %}
                        <div>
                       
                            {% for val in ministries %}
                                <div class="form-check form-check-inline">
                                    <input 
                                        class="form-check-input" 
                                        type="radio" 
                                        name="ministry" 
                                        id="{{val["ministry"]}}"  
                                        value="{{val["ministry"]}}"
                                         {% for value in checked %}
                                            {% if value == val["ministry"] %}
                                                checked
                                            {% endif %}
                                        {% endfor %}
                                    >
                                    <label class="form-check-label" for="{{val["ministry"]}}" style="color: black; font-weight:bold;">
                                        {{val["ministry"]}}
                                    </label>

                                </div>
                            {% endfor %}
                                <div class="form-check form-check-inline" >
                                    <input 
                                        class="form-check-input" 
                                        type="radio" 
                                        name="ministry" 
                                        id="all"  
                                        value=""
                                    >
                                    <label class="form-check-label" for="all" style="color: black; font-weight:bold;">
                                        tous
                                    </label>

                                </div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary mt-2">filtrer</button>

                            <button type="button" class="btn btn-warning mt-2" onclick="location.href='{{path('calendar')}}';"><i class="fas fa-plus"></i> toutes les tâches</button>

                        </div>
                        <div class="">
                          
                        </div>
                        
                    </form>
                    
                      
            </div>
            <div class="col-12" id="calendarEl"></div>
    </div>

{% endblock %}


{% block javascripts %}
{{ parent() }}
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.js" integrity="sha256-AOrsg7pOO9zNtKymdz4LsI+KyLEHhTccJrZVU4UFwIU=" crossorigin="anonymous"></script>
    <script>

        // function random_item(items)
        // {
        //     return items[Math.floor(Math.random()*items.length)];
        // }
       
        // var items = ['#ff6b6b','#10ac84','#341f97','#ff9f43'];

        //var color = (random_item(items));

        document.addEventListener('DOMContentLoaded', function() {

        var calendarEl = document.getElementById('calendarEl');


        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'timeGridWeek',
            height: 800,
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,listWeek'
            },
            buttonText:{
                today:    'Aujourd\'hui',
                month:    'mois',
                week:     'semaine',
                day:      'jour',
                list:     'liste',
            },
            locale: 'fr',
            timeZone: 'Europe/Paris',
            events: {{ data|raw }},
            //eventColor: color,
            selectable: true,
            firstDay: 1,
            nowIndicator: true,
            select: function(info) {
               
                
                let startDate = info.startStr;
                let endDate = info.endStr;
            
                window.location = '/taches/creer?start=' + startDate+'&end='+endDate;
                
                
            },
            eventClick: function(info) {

                info.jsEvent.preventDefault(); // don't let the browser navigate

                if (info.event.url) {
                window.open(info.event.url);
                }
            }   
        });
        calendar.render();
        });



    </script>
{% endblock %}

